# file which reclassifies `.hack` files as php:
#*.hack linguist-language=php

*.hack linguist-detectable=false

* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
